/*
SEAN MADE THIS.
https://plus.google.com/u/0/+SeanYentheHumansperson

Putting on makeup for the skeleton.
*/
html, body {
	font-family: 'Roboto Condensed', Impact, serif;
	background: #1E1E2A;
	margin: 0;
	color: #808279;
	font-size: 30px;
}
::-webkit-scrollbar {
    background: none;
	width: 5px;
}
::-webkit-scrollbar-thumb {
    background: white !important;
}
::selection {
    background: rgba(0, 188, 212, 0.4);
}
ul {
	margin: 0;
	padding: 0;
	height: calc(100% - 80px);
}
li {
	display: block;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	line-height: 1;
}
li div, input[type=text] {
	width: 50%;
	margin: 0;
	display: inline-block;
}
#noQuery {
	border-bottom: none;
	width: 100vw;
	height: 100%;
}
#noQuery div {
	text-align: center;
	font-size: 50px;
	width: 100%;
	margin-top: 30vh;
}
:focus {
	outline: none;
}
input[type=text] {
	background: black;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	border: none;
	border-bottom: 1px solid black;
	border-bottom-color: black;
	height: 40px;
}
input[type=text]:hover {
	border-bottom-color: #607D8B;
}
input[type=text]:focus {
	border-bottom-color: #00BCD4;
}
input[disabled], input[disabled]:hover {
	border: none;
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.5;
}
input[disabled]::-webkit-input-placeholder {
	opacity: 0.2;
}
::-ms-input-placeholder{color: inherit;opacity: 0.5;}input[disabled]::-ms-input-placeholder {opacity: 0.2;}
:-moz-input-placeholder{color: inherit;opacity: 0.5;}:-moz-input-placeholder {opacity: 0.2;}
::-moz-input-placeholder{color: inherit;opacity: 0.5;}::-moz-input-placeholder {opacity: 0.2;}
#footer {
	background: black;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 15px;
	height: 20px;
}
#footer, input[type=text] {
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}